@use '@app/styles/breakpoints';

.section {
	padding-top: 32px;

	@media (width < breakpoints.$md) {
		padding-top: 20px;
	}
}

.card {
	position: relative;
	display: grid;
	gap: 24px;
	width: 100%;
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
}