@use '@app/styles/breakpoints';

.input {
	display: grid;
	gap: 10px;

	&__control {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 10px;
		border: 1px solid var(--color-gray-200);
		border-radius: 10px;
		transition: var(--transition-primary);

		@media (hover: hover) {
			&:hover {
				border-color: var(--color-tomato-400);
			}
		}

		@media (width < breakpoints.$md) {
			padding-top: 7px;
			padding-bottom: 7px;
		}
	}

	&__button {
		@media (hover: hover) {
			&:hover {
				background-color: var(--color-tomato-opacity);
			}
		}
	}

	&__total {
		font: var(--font-xxl);
		font-weight: 700;
		text-align: center;

		@media (width < breakpoints.$md) {
			font: var(--font-xl);
			font-weight: 700;
		}
		@media (width < breakpoints.$xs) {
			font: var(--font-l);
			font-weight: 700;
		}

		span {
			color: var(--color-tomato-400);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		p {
			font: var(--font-s);
		}
	}
}