@use '@app/styles/breakpoints';

.marquee {
	height: 40px;
	background-color: var(--color-tomato-400);

	@media (width < breakpoints.$md) {
		height: 30px;
	}

	&__item {
		padding-right: 140px;
		font: var(--font-s);
		color: var(--color-white);

		@media (width < breakpoints.$md) {
			padding-right: 80px;
		}
	}
}