@import '@app/styles/breakpoints';

.card {
	&__btn {
		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__title {
		font: var(--font-xl);
		font-weight: 700;
		text-align: center;
	}

	&__text {
		font: var(--font-s);
		text-align: center;
    color: var(--color-gray-400);
	}
}