@import '@app/styles/breakpoints';

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: max-content;
	padding: 15px 20px;
	border-radius: 10px;
	transition: 0.1s ease;
	font: var(--font-m);
	font-weight: 600;
	text-align: center;

	@media (width < $md) {
		gap: 5px;
	}

	// color

	&--white {
		color: var(--color-white);
	}
	&--black {
		color: var(--color-black);
	}
	&--dark-gray {
		color: var(--color-gray-800);
	}

	// theme

	&--primary {
		background-color: var(--color-tomato-400);

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-tomato-100);
			}
		}
	}
	&--login {
		padding: 4px 20px;
		background-color: var(--color-gray-800);

		@media (width < $md) {
			padding-left: 10px;
			padding-right: 10px;
			font: var(--font-xs);
			font-weight: 600;
		}

		@media (hover: hover) {
			&:hover {
				background-color: var(--color-tomato-400);
			}
		}
	}
	&--clear {
		padding: 0;
		background-color: transparent;

		&:active {
			background-color: transparent !important;
		}
	}

	// fluid

	&--fluid {
		width: 100%;
		max-width: 100%;
	}

	// active

	&:active {
		background-color: var(--color-tomato-600);
	}

	// disabled

	&:disabled {
		background-color: var(--color-gray-400);
		color: var(--color-gray-100);
		pointer-events: none;
		cursor: not-allowed;
	}
}