@import '@app/styles/breakpoints';

.main {
	padding-top: 32px;

	@media (width < $md) {
    padding-top: 20px;
  }

	&__inner {
		padding-top: 32px;
		display: grid;
		gap: 140px;

		@media (width < $md) {
			padding-top: 20px;
			gap: 80px;
		}
	}
}