@import '@app/styles/breakpoints';

.logo {
	display: block;
	width: 100%;
	max-width: 175px;
	cursor: pointer;

	@media (width < $md) {
		max-width: 130px;
	}

	svg, path {
		display: block;
		width: 100%;
		height: 100%;
	}
}